/* Created by: Santiago Hewett
* Created on: Mar 2023
* This CSS file defines the style for index.html
* ICS2O-Unit4-01-HTML-GuessMyNumber
*/

body {
	background-color: #ee56f0;
}

h4 {
  background-color: #ffdd00;
}

h5 {
  background-color: #f8e620;
}